@typeparam TItem
@typeparam TEntity
@typeparam TDto

<DataGridSelectColumn @ref="DataGridSelectColumn" 
                      TItem="TItem"
                      Field="@ColumnField"
                      Caption="@ColumnCaption"
                      Editable="@Editable"
                      Filterable="@Filterable"
                      Sortable="@Sortable"
                      Attributes="@Attributes"
                      ValueField="(x) => ((TDto)x).GetKey" 
                      TextField="(x) => ((TDto)x).GetValue"
                      SortField="@(string.IsNullOrEmpty(GridSort) ? null : GridSort)">
    <DisplayTemplate>
        @if (DisplayTemplate != null)
        {
            DisplayTemplate(context);
        }
        else
        {
            <Span>@GetGridName(context)</Span>
        }
    </DisplayTemplate>
    <EditTemplate>
        @CreateSelectComponent(context)
    </EditTemplate>
</DataGridSelectColumn>