@typeparam TEntity
@typeparam TItem
@typeparam TColumnItem
@inherits CruderColumnBase<TEntity, TItem>

<DataGridSelectColumn @ref="DataGridSelectColumn" 
                      TItem="TItem"
                      Field="@ColumnField"
                      Caption="@ColumnCaption"
                      Editable="@Editable"
                      Filterable="@Filterable"
                      Sortable="@Sortable"
                      Attributes="@Attributes"
                      ValueField="(x) => ((TItem)x).GetKey"
                      TextField="(x) => ((TItem)x).GetValue"
                      SortField="@(string.IsNullOrEmpty(GridSort) ? null : GridSort)">
    <DisplayTemplate>
        @if (DisplayTemplate != null)
        {
            DisplayTemplate(context);
        }
        else
        {
            <Span>@GetGridName(context)</Span>
        }
    </DisplayTemplate>
    <EditTemplate>
        @if (SelectComponent is not null)
        {
            @SelectComponent
        }
    </EditTemplate>
</DataGridSelectColumn>