@typeparam TEntity
@typeparam TDto
@inherits CruderGridBase<TEntity, TDto>

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <DataGrid @ref="DataGridRef"
                  TItem="TDto"
                  Class="datagrid-listpage"
                  Data="@Data"
                  Hoverable
                  ShowPager
                  ShowPageSizes
                  Responsive
                  EditMode="DataGridEditMode.Inline"
                  CommandMode="DataGridCommandMode.Commands"
                  RowInserting="InsertingAsync"
                  RowUpdating="UpdatingAsync"
                  RowRemoving="RemovingAsync"
                  Editable
                  Filterable
                  Groupable
                  Narrow
                  Sortable
                  Navigable
                  FixedHeader
                  Resizable
                  Bordered
                  DetailRowStartsVisible="false"
                  NewItemDefaultSetter="DefaultNewInstance"
                  FixedHeaderDataGridHeight="420px"
                  FixedHeaderDataGridMaxHeight="420px"
                  SortMode="DataGridSortMode.Single"
                  FilterMode="DataGridFilterMode.Menu"
                  ReadData="@GetData"
                  TotalItems="@TotalData"
                  RowClicked="@SingleClicked">
            <DataGridColumns>
                <DataGridCommandColumn TItem="TDto" PreventRowClick FixedPosition="TableColumnFixedPosition.Start" Field="Id" TextAlignment="TextAlignment.Start" Gap="Gap.Is0" Width="80px">
                    <NewCommandTemplate>
                        @if (StartNewCommandTemplate is not null)
                        {
                            @StartNewCommandTemplate
                        }
                        <Tooltip Text="@PermissionService.CanWriteTooltip("Novo")">
                            <Button Type="ButtonType.Link" Clicked="@context.Clicked" Color="Color.Success"  Width="Width.Is100" Size="Size.Small" Disabled="@(!PermissionService.CanWrite)">
                                <Icon Name="IconName.Add" />
                                @if (!SimpleNewCommand)
                                {
                                    <Span> Novo</Span>
                                }
                            </Button>
                        </Tooltip>
                        @if (EndNewCommandTemplate is not null)
                        {
                            @EndNewCommandTemplate
                        }
                    </NewCommandTemplate>

                    <EditCommandTemplate>
                        @if (StartCommandTemplate is not null)
                        {
                            @StartCommandTemplate(context.Item)
                        }
                        <Tooltip Text="@PermissionService.CanWriteTooltip("Editar")" Inline>
                            <Button Size="Size.Small" Clicked="@context.Clicked" Disabled="@(!PermissionService.CanWrite)" Padding="Padding.Is1" @onclick:stopPropagation>
                                <Icon Name="IconName.Edit" />
                            </Button>
                        </Tooltip>
                        @if (MiddleCommandTemplate is not null)
                        {
                            @MiddleCommandTemplate(context.Item)
                        }
                    </EditCommandTemplate>

                    <DeleteCommandTemplate>
                        <Tooltip Text="@PermissionService.CanWriteTooltip("Deletar")" Inline>
                            <Button Size="Size.Small" Clicked="@context.Clicked" Disabled="@(!PermissionService.CanWrite)" Padding="Padding.Is1" @onclick:stopPropagation>
                                <Icon Name="IconName.Delete" />
                            </Button>
                        </Tooltip>
                        @if (EndCommandTemplate is not null)
                        {
                            @EndCommandTemplate(context.Item)
                        }
                    </DeleteCommandTemplate>

                    <SaveCommandTemplate>
                        <Tooltip Text="@PermissionService.CanWriteTooltip("Salvar")" Inline>
                            <Button Size="Size.Small" Type="ButtonType.Submit" PreventDefaultOnSubmit Clicked="context.Clicked" Disabled="@(!PermissionService.CanWrite)" Padding="Padding.Is1" Margin="Margin.Is2.FromStart.Is1.FromTop" @onclick:stopPropagation>
                                <Icon Name="IconName.Check" />
                            </Button>
                        </Tooltip>
                    </SaveCommandTemplate>

                    <CancelCommandTemplate>
                        <Tooltip Text="Cancelar" Inline>
                            <Button Size="Size.Small" Clicked="@context.Clicked" Padding="Padding.Is1" Margin="Margin.Is1.FromTop" @onclick:stopPropagation>
                                <Icon Name="IconName.TimesCircle" />
                            </Button>
                        </Tooltip>
                    </CancelCommandTemplate>
                </DataGridCommandColumn>
                @Columns
            </DataGridColumns>
            <LoadingTemplate></LoadingTemplate>
            <EmptyTemplate>
                @if (!Loading.Visible)
                {
                    <Row Flex="Flex.JustifyContent.Center" Width="Width.Is100" Height="Height.Px(360)" Style="position: relative;">
                        <Column ColumnSize="ColumnSize.Is4.OnWidescreen" Style="margin: 0; position: absolute; top: 45%; -ms-transform: translateY(-45%); transoform: translateY(-45%);">
                            <Div TextAlignment="TextAlignment.Center">
                                <Heading Size="HeadingSize.Is4" TextColor="TextColor.Danger">
                                    Nenhum registro encontrado
                                </Heading>
                                <Paragraph TextColor="TextColor.Muted" Margin="Margin.Is3.FromTop">
                                    Verifique se existe dados ou se os filtros estão corretos.
                                </Paragraph>
                            </Div>
                        </Column>
                    </Row>
                }
            </EmptyTemplate>
            <FilterMenuTemplate>
                <ListPageFilterMenu TEntity="TEntity" TDto="TDto" Column="context.Column" />
            </FilterMenuTemplate>
            <DetailRowTemplate>
                DetailRowTemplate
            </DetailRowTemplate>
        </DataGrid>
    </Column>
</Row>