@typeparam TValue
@typeparam TColumnEntity
@typeparam TColumnDto
@inherits CruderColumnBase<TColumnEntity, TColumnDto>

<DataGridNumericColumn @ref="DataGridNumericColumnRef"
                       TItem="TColumnDto"
                       SortField="@GridSort"
                       Field="@ColumnField"
                       Sortable="@Sortable"
                       Caption="@ColumnCaption"
                       Culture="pt-BR"
                       Editable="@(!AlwaysEditable && Editable)"
                       Filterable="@Filterable"
                       Width="170px"
                       HeaderCellStyle="line-height: 38px"
                       PreventRowClick="@AlwaysEditable"
                       HeaderTextAlignment="TextAlignment.Start"
                       VerticalAlignment="VerticalAlignment.Middle"
                       FilterTextAlignment="TextAlignment.Center"
                       FilterVerticalAlignment="VerticalAlignment.Middle">
    <DisplayTemplate>
        <Div @onclick="@((_) => OnClick(context))">
            @if (IgnorePermission || (AlwaysEditable && PermissionService.CanWrite))
            {
                <NumericEdit
                    TValue="TValue"
                    Culture="pt-BR"
                    Value="@(context.GetValueByPropertyName<TValue>(ColumnField))"
                    ValueChanged="@((TValue value) => ValueInlineChanged(context, value))"
                    Debounce="true"
                    DebounceInterval="100"
                    Blur="OnBlur"
                    Disabled="@DisabledEditable(context)"/>
            }
            else
            {
                if (Value == null)
                {
                    <Tooltip Text="@TooltipValueNull" TextAlignment="TextAlignment.Center">
                        @("-")
                    </Tooltip>
                }
                else
                {
                    @Value
                    ;
                }
                @* } *@
                @* else *@
                @* { *@
                @*     <Tooltip Text="@TooltipValueNull" TextAlignment="TextAlignment.Center"> *@
                @*         @("-") *@
                @*     </Tooltip> *@
                @* } *@
            }
        </Div>
    </DisplayTemplate>
    <EditTemplate>
        <NumericEdit
            Culture="pt-BR"
            Min="0"
            ValueChanged="@((double value) => ValueChanged(context, value))"
            Value="@((double)context.CellValue)"
            Disabled="@DisabledEditable(context.Item)"/>
    </EditTemplate>
</DataGridNumericColumn>
